//
.dept-container{
    display: flex;
    flex-direction: column;

    .dept-heading{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .data-card{
        padding: 50px;
    }
    .dept-button{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}