.user-card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }
  .bookingPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 12px;

    .bookButton{
        margin-top: 10px;
        margin-bottom: 10px;
  }

  }