.card1 {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  .heading{
    
    margin-bottom: 30px;
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 16px;

    label {
      display: block;
      margin-bottom: 4px;
    }


    input[type='text'] {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #dddddd;
    }
  }

  .inline-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-group {
      width: calc(33.33% - 10px);
    }
  }

  button[type='submit'] {
    display: block;
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }

  @media (max-width: 767px) {

    width: 90%;
    font-size: 14px;

    .form-group {
      input[type='text'] {
        padding: 6px;
      }
    }

    button[type='submit'] {
      font-size: 14px;
    }
  }

  @media (max-width: 576px) {

    .form-group {
      label {
        font-size: 14px;
      }

      input[type='text'] {
        font-size: 14px;
      }
    }

    button[type='submit'] {
      font-size: 16px;
    }
  }
  span{
    color: red;
  }
}
