// .doctorList{
//     display: flex;
//     align-items: center;
//     .table-container{
//         margin-left: 250px;
//       }
//       h2{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin-bottom: 10px;
//         font-weight: bold;
//       }
// }

.doctor-container{
  display: flex;
  flex-direction: column;

  .doctorlist-heading{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .doctor-list{
    padding: 50px;
  }
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  height: auto;
  width: 40rem;
}
.modal-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.block-button {
  margin-left: 10px;
}
