.appointment-head
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

$box-shadow-color: rgba(0, 0, 0, 0.1);
.appoinment-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
.appointment-card {

    margin: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    width: 60%;
    box-shadow: 0 0 28px 4px $box-shadow-color;
    transition: transform .3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

   .appointment-card-body{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
   }
}
}