.appointment-head
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

$box-shadow-color: rgba(0, 0, 0, 0.1);
.appoinment-container{
    display: flex;
    justify-content: center;
.appointment-card {
    margin: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    width: 50%;
    box-shadow: 0 0 28px 4px $box-shadow-color;
    transition: transform .3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    &__title {
        font-weight: 800;
        font-size: 1.5rem;
    }
   .appointment-card-body{
    display: flex;
    justify-content: space-around;
   }
}
}