.user-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.user-list{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 50px;
    height: fit-content;
}