header{
    width: 100%;
    background-color: ghostwhite;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        position: relative;

        z-index: 999;
        width: 100%;
        box-shadow: 3px 3px 3px rgba($color:#0b0b0b,$alpha:0.2);
        img{
            max-width: 7rem;

        }
        .nav-items{
            display: flex;
            width: 30%;
            max-width: 50rem;
            justify-content: space-between;
            align-items: center;
            li{
                font-size: 1.5rem;
                font-weight: 600;
                color: #0b0b0b;

            }
            @media(max-width: 767px){
                display: none;
                &.active{
                  display: flex;
                  flex-direction: column;
                  position: absolute;
                  width: 100%;
                  max-width: 100%;
                  z-index: 999;
                  background-color: var(--white);
                  height: 30vh;
                  margin: auto;
                  left: 0;
                  padding:2 rem 0;
                  top: 4.8rem;

                }
            }

            }
            .hamburger{
                display: none;
                @media (max-width: 767px) {
                    display: block;

                }

        }
        #basic-button{
            color: #000000;
            font-size: 1.5rem;
            font-weight: normal;


        }
        #basic-menu{
            font-size: 1.5rem;
            font-weight: normal;
        }
    }
}