$box-shadow-color: rgba(0, 0, 0, 0.1);

.card {
    margin: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    width: 250px;
    box-shadow: 0 0 28px 4px $box-shadow-color;
    transition: transform .3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    &__title {
        font-weight: 800;
        font-size: 1.5rem;
    }

    &__image {
        display: flex;
        justify-content: flex-end;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
}
