.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 2rem;
    @media (max-width: 767px) {
      padding: 0;
    }
  }

  .btn {
    width: 100%;
    max-width: 15rem;
    padding: 1rem 2rem;
    background-color: orangered;
    text-align: center;
    &--nav-btn {
      border-radius: 20px;
    }
  }

  img {
    width: 100%;
  }

  section {
    padding: 6rem 0;
  }